@import 'node_modules/@redsift/ui-rs-core/src/index.import.styl'

.-bg-network {
  background-image: url('//static.redsift.io/assets/images/taxi-1.jpg');
  background-color: rgb(42, 24, 22);
}

.content__container--expand {

}